{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "config": "./src/config",
          "controllers": "./src/controllers",
          "models": "./src/models",
          "middlewares": "./src/middlewares",
          "routes": "./src/routes",
          "services": "./src/services",
          "utils": "./src/utils",
          "validations": "./src/validations"
        }
      }
    ]
  ]
}
